{%extends 'layout.html' %}
{%block content%}
      <h1 class="text-center">Login</h1>
      <div class="container justify-content-center col-sm-5 ">
        <form action="/" method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            {{ form }}
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            {{ form2 }}
          </div>
          <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Log In">
          </div>
        </form>
      </div>
{%endblock%}