{%extends 'layout.html' %}
{%load crispy_forms_tags%}
{%block content%}
      <h1 class="text-center">Welcome, {{user.first_name}} {{user.last_name}}</h1>
      <div class="container">
        {%if messages%}
        <div aria-live="polite" aria-atomic="true" class="position-relative mb-4">
              <!-- Position it: -->
              <!-- - `.toast-container` for spacing between toasts -->
              <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
              <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
              <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-4">
                    {%for message in messages%}
                <!-- Then put toasts within -->
                <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                  <div class="toast-header">
                    <img src="{%static 'login/gfx.svg'%}" class="rounded me-2" width="20" height="20" alt="logo">
                    <strong class="me-auto">El3yada</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                  </div>
                  <div class="toast-body">
                    {{message}}
                  </div>
                </div>
                {%endfor%}
              </div>
        </div>
        {%endif%}
      </div>
      <div class="container content-section mb-5">
            <div class="container-fluid table-responsive mt-3 mb-5">
                <table class="table table-bordered caption-top mb-5">
                    <tr>
                        {%for x in columns%}
                        <th>{{x}}</th>
                        {%endfor%}
                    </tr>
                    <tr>
                    {%for item in list%}
                        {%if item is None%}
                            <td></td>
                        {%else%}
                                <td>{{item}}</td>
                        {%endif%}
                    {%endfor%}
                    </tr>
                </table>
            </div>
            <form method="post" action="">
                {%csrf_token%}
                {{uform|crispy}}
                <div class="text-center">
                <input type="submit" class="btn btn-primary my-5" name='update' value="Update">
                </div>
            </form>
      </div>
      
{%endblock%}