{%extends 'layout.html' %}
{%load crispy_forms_tags%}
{%block content%}
      <h1 class="text-center">Welcome, {{user.username}}</h1>
      <div class="container">
      {%if messages%}
      {%for message in messages%}
            <div class="alert alert-{{message.tags}} text-center">{{message}}</div>
      {%endfor%}
      {%endif%}
      </div>
      
      <div class="container-fluid table-responsive mt-3">
            <form class="mb-4" method="post">
                  {%csrf_token%}
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Search" name="search">
                    </div>
                    <div class="col">
                        <select class="form-select" name="choice">
                              <option>Name</option>
                              <option>Mobile Phone Number</option>
                              <option>Doctor Name</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="submit" class="form-control btn btn-primary" placeholder="Search" value="Search">
                    </div>
                  </div>
            </form>
            <table class="table table-sm table-bordered">
                  <tr>
                    <th>Aser</th>
                    <th>Pser</th>
                    <th>Aname</th>
                    <th>Aphone</th>
                    <th>Atel</th>
                    <th>Adate</th>
                    <th>ServNo</th>
                    <th>Arem</th>
                    <th>Arraive</th>
                    <th>DocNo</th>
                    <th>DocName</th>
                    <th>Fees</th>
                    <th>Cost</th>
                    <th>Seen</th>
                    <th>DoneBy</th>
                    <th>Per</th>
                    <th>AMPMCode</th>
                    <th>AMPM</th>
                    <th>ContrC</th>
                    <th>MoneyBy</th>
                    <th>MoneyNo</th>
                  </tr>
            {%if lists%}
                  {%for list in lists%}
                        <tr>
                        {%for item in list%}
                              {%if item is None%}
                              <td></td>
                              {%else%}
                              <td>{{item}}</td>
                              {%endif%}
                        {%endfor%}
                        </tr>
                  {%endfor%}
            {%endif%}
      </div>
{%endblock%}