{%extends 'layout.html' %}
{% load static %}
{%load crispy_forms_tags%}
{%load util%}
{%block content%}
      {%if user.first_name%}
            <h1 class="text-center my-5">Welcome, {{user.first_name}} {{user.last_name}}</h1>
      {%else%}
            <h1 class="text-center my-5">Welcome, {{user.username}}</h1>
      {%endif%}
      
      {%if messages%}
      <div class="container">
            {%for message in messages%}
                  <div class="alert alert-{{message.tags}} text-center">{{message}}</div>
            {%endfor%}
      </div>
      <div aria-live="polite" aria-atomic="true" class="position-relative mb-4">
            <!-- Position it: -->
            <!-- - `.toast-container` for spacing between toasts -->
            <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
            <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-4">
                  {%for message in messages%}
              <!-- Then put toasts within -->
              <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <img src="{%static 'login/gfx.svg'%}" class="rounded me-2" width="20" height="20" alt="logo">
                  <strong class="me-auto">El3yada</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{message}}
                </div>
              </div>
              {%endfor%}
            </div>
      </div>
      {%endif%}
      
      <div class="container-fluid">
            <form class="mb-4" method="post">
                  {%csrf_token%}
                  <div class="row mb-4">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Search" name="search">
                    </div>
                    <div class="col">
                        <select class="form-select" name="choice">
                              <option>Name</option>
                              <option>Mobile Phone Number</option>
                              <option>Doctor Name</option>
                        </select>
                    </div>
                    <div class="col">
                        <input type="submit" class="form-control btn btn-primary" placeholder="Search" value="Search">
                    </div>
                  </div>
                  <div class="row">
                        <div class="col">
                            <select class="form-select" name="dbchoice">
                                  <option>Patients</option>
                                  <option>Appointments</option>
                            </select>
                        </div>
                  </div>
            </form>
      </div>
      
      <div class="container-fluid table-responsive mt-3 mb-5">
            <table class="table table-sm table-bordered caption-top">
                  {%if choice == 'Name'%}
                        {%if dbchoice == 'Appointments'%}
                        <caption>List of Appointments where the patient's name contains {{name}}</caption>
                        {%else%}
                        <caption>List of Patients where their name contains {{name}}</caption>
                        {%endif%}
                  {%elif choice == 'Doctor Name'%}
                        {%if dbchoice == 'Appointments'%}
                        <caption>List of Appointments where the Doctor's name contains {{name}}</caption>
                        {%endif%}
                  {%elif choice == 'Mobile Phone Number'%}
                        {%if dbchoice == 'Appointments'%}
                        <caption>List of Appointments where the patient's Phone Number is {{name}}</caption>
                        {%else%}
                        <caption>List of Patients where their phone number is {{name}}</caption>
                        {%endif%}
                  {%endif%}
                  <tr>
                        {%for x in columns%}
                        <th>{{x}}</th>
                        {%endfor%}
                  </tr>
            {%if lists%}
                  {%for list in lists%}
                        <tr>
                        {%for item in list%}
                              {%if item is None%}
                              <td></td>
                              {%elif item == list.1%}
                                    {%if dbchoice == 'Patients'%}
                                          <td><a href="/patient/{{list.0}}">{{item}}</a></td>
                                    {%else%}
                                          <td>{{item}}</td>
                                    {%endif%}
                              {%else%}
                                    {%if dbchoice == 'Appointments' and item == list.2%}
                                          <td><a href="/patient/{{list.1}}">{{item}}</a></td>
                                    {%elif dbchoice == 'Appointments' and item == list.0%}
                                          <td><a href="/appointment/{{list.0}}">{{item}}</a></td>
                                    {%else%}
                                          <td>{{item}}</td>
                                    {%endif%}
                              {%endif%}
                        {%endfor%}
                        </tr>
                  {%endfor%}
            {%endif%}
            </table>
      </div>
      <div class="row mb-4 mx-5">
            <div class="col text-center">
                  {%if request.method == "GET" and not request.GET.page == None and request.GET.page|get_type%}
                        Page {{request.GET.page}}
                  {% else %}
                        Page 1
                  {% endif %}
            </div>
            <div class="col">
                  <form class="mb-4" method="GET">
                        {%if request.method == "GET" and not request.GET.page == None and request.GET.page|get_type%}
                              <input type="number" class="form-control text-center" name="page" value='{{request.GET.page}}'>
                        {% else %}
                              <input type="number" class="form-control text-center" name="page" value='1'>
                        {% endif %}
                        
                  </form>
            </div>
      </div>
{%endblock%}