{%extends 'layout.html' %}
{% load static %}
{%load crispy_forms_tags%}
{%block content%}
      <h1 class="text-center">Welcome, {{user.first_name}} {{user.last_name}}</h1>
        {%if messages%}
            <div class="container">
                  {%for message in messages%}
                        {%if message.tags == "warning"%}
                        <div class="alert alert-{{message.tags}} text-center blink-bg" >{{message}}</div>
                        {%else%}
                        <div class="alert alert-{{message.tags}} text-center" >{{message}}</div>
                        {%endif%}
                  {%endfor%}
            </div>
            {%endif%}
      <div class="container content-section mb-5">
            <p>
                
                {%for item1,item2 in Plist%}
                    {%if item1 == "Date of Birth" and patnotes != '' and patnotes != 0%}
                    <div class="alert alert-danger text-center blink-bg" ><strong>{{patnotes}}</strong></div>
                    {%endif%}
                    {{item1}} : {{item2}}<br>
                {%endfor%}
            </p>
            <div class="container-fluid table-responsive mt-3 mb-5">
                <table class="table table-sm table-bordered caption-top mb-5">
                    <tr>
                        {%for x in columns%}
                        <th>{{x}}</th>
                        {%endfor%}
                    </tr>
                    {%if lists%}
                        {%for list in lists%}
                            <tr>
                            {%for item in list%}
                                {%if item is None%}
                                    <td></td>
                                {%else%}
                                        <td>{{item}}</td>
                                {%endif%}
                            {%endfor%}
                            </tr>
                        {%endfor%}
                    {%endif%}
                </table>
            </div>
            <form method="post" action="">
                {%csrf_token%}
                {{uform|crispy}}
                {{hform.as_hidden}}
                <div class="text-center">
                <input type="submit" class="btn btn-primary my-5" name='update' value="Update">
                </div>
            </form>
      </div>
      
{%endblock%}