{%extends 'layout.html' %}
{%load crispy_forms_tags%}
{%block content%}
      {%if user.first_name%}
      <h1 class="text-center my-5">Welcome, {{user.first_name}} {{user.last_name}}</h1>
      {%else%}
      <h1 class="text-center my-5">Welcome, {{user.username}}</h1>
      {%endif%}
      <div class="container">
      {%if messages%}
      <div aria-live="polite" aria-atomic="true" class="position-relative mb-4">
            <!-- Position it: -->
            <!-- - `.toast-container` for spacing between toasts -->
            <!-- - `top-0` & `end-0` to position the toasts in the upper right corner -->
            <!-- - `.p-3` to prevent the toasts from sticking to the edge of the container  -->
            <div class="toast-container position-fixed bottom-0 end-0 p-3 mb-4">
                  {%for message in messages%}
              <!-- Then put toasts within -->
              <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                  <img src="{%static 'login/gfx.svg'%}" class="rounded me-2" width="20" height="20" alt="logo">
                  <strong class="me-auto">El3yada</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                  {{message}}
                </div>
              </div>
              {%endfor%}
            </div>
      </div>
      {%endif%}
      </div>
      <div class="container-fluid table-responsive mt-3 mb-5">
            <table class="table table-sm table-bordered caption-top mb-5">
                <caption>List of Appointments Today</caption>
                  <tr>
                        {%for x in columns%}
                        <th>{{x}}</th>
                        {%endfor%}
                  </tr>
            {%if lists%}
                  {%for list in lists%}
                        <tr>
                        {%for item in list%}
                              {%if forloop.counter0 == 8%}
                              <td>
                                    <form method="post" id="myform{{forloop.parentloop.counter0}}">
                                          {%csrf_token%}
                                          <input type="hidden" name="name" value="{{list.0}}"> 
                                          <a onclick="document.getElementById('myform{{forloop.parentloop.counter0}}').submit();" href="#" >{{item}}</a>
                                    </form>
                              </td>
                              {%else%}
                              <td>{{item}}</td>
                              {%endif%}
                        {%endfor%}
                        </tr>
                  {%endfor%}
            {%endif%}
      </div>
{%endblock%}